/*General Styling*/
* {
  margin: 0;
  padding: 0; }

#navigation {
  width: 100%;
}

#mobile {
  display: none; }
  @media (max-width: 31.25em) {
    #mobile {
      display: block;
      background-color: white;
      color: black;
      font-family: "Lato", sans-serif;
      padding-top: 14px;
      padding-bottom: 14px;
      font-size: 1.2em;
      width: 100%;
      text-align: center; } }

#menu {
  list-style-type: none;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  /*needed for horizontal menu */
  background-color: white;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 1.4em;
  text-align: center;
  display: flex;
  justify-content: space-around; }
  @media (max-width: 48.75em) {
    #menu {
      width: 100%; } }
  @media (max-width: 31.25em) {
    #menu {
      display: none;
      border: none; } }

.menu-item {
  float: left;
  /*needed for horizontal menu */
  width: 17%;
  /*this sets the width of the main nav items on desktop*/
  
}
  @media (max-width: 48.75em) {
    .menu-item {
     width: 20%;
      /*this sets the width of the main nav items on tablet*/ } }
  @media (max-width: 31.25em) {
    .menu-item {
      display: block;
      width: 100%;
      clear: both;
      border-top: 1px solid white; } }

.menu-item a, .menu-item-has-children a {
  display: block;
  /*this helps for centering of the text of the menu items */
  color: black;
  text-align: center;
  /*this helps for centering of the text of the menu items */
  padding-top: 14px;
  padding-bottom: 14px;
  /*here I removed the left and right padding, because it was causing issues with the responsiveness of the page*/
  text-decoration: none; }
  @media (max-width: 31.25em) {
    .menu-item a, .menu-item-has-children a {
      position: relative;
	  width:60%;
	  margin:auto;
      clear: both; } }

/* Change the link color on hover */
.menu-item a:hover, .menu-item-has-children:hover .menu-item-has-children a:hover {
  background-color: #009900;
  color: white; }

.current-menu-item a, .current-menu-parent a {
  color: #009900;
}

.current-menu-item a:hover {
    background-color: #009900;
    color: white;
}

.dropdown-content {
  display: none;
  /*hides the submenu if not hovered over or clicked*/
  position: absolute;
  /*this positions the vertical submenu under it's parent li on desktop*/
  z-index: 1;
  /*this part doesn't need to be different for tablet*/ }
  @media (max-width: 31.25em) {
    .dropdown-content {
      display: none;
      position: relative; } 
}

.sub-menu {
	display: none;
	/*hides the submenu if not hovered over or clicked*/
    position: absolute;
    /*this positions the vertical submenu under it's parent li on desktop*/
  	z-index: 1;
}
@media (max-width: 31.25em) {
	.sub-menu {
      display: none;
      position: relative; }
}


.dropdown-content a {
  background-color: rgba(102, 204, 0, 0.5); }
  @media (max-width: 48.75em) {
    .dropdown-content a {
      float: left;
      /*makes the submenu horizontal and starting from the beginning of the screen on tablet*/
      width: 20%;
      /*from here I adjust the size of the submenu items on tablet*/ } }
  @media (max-width: 31.25em) {
    .dropdown-content a {
      display: block;
      width: 100%; } }


  @media (max-width: 31.25em) {
    .sub-menu a {
      display: block;
      width: 100%; } }

.dropdown-content a:hover {
  background-color: #009900;
  /*gives color to the submenu items on hover */ }

.sub-menu a:hover {
  background-color: #009900;
  /*gives color to the submenu items on hover */ }

.dropdown:hover .dropdown-content {
  display: block;
  /*makes the vertical submenu appear on hover on desktop */
  width: 15.3%;
  /*this width has to be the same as the width of li; it's calculated as a % from the nav parent element */ }
  @media (max-width: 48.75em) {
    .dropdown:hover .dropdown-content {
      width: 100%;
      /* makes the horizontal submenu same width as the main menu on tablet*/
      position: absolute;
      /* this works together with left:0; However, it's set in .dropdown-content to the same value and the code will not break if I delete it. I leave it only so that it's easier for future reference. */
      left: 0;
      /* this combined with position:absolute; positions the horizontal submenu from the beginning of the screen so that it takes the full length of the main menu*/ } }
  @media (max-width: 31.25em) {
    .dropdown:hover .dropdown-content {
      display: none;
      /* removes the hover from the mobile view */
      position: relative;
      /* This here is very important because makes the submenu push down the rest of main menu items instead of covering them*/ } }



/* The menu icon on mobile */
.container {
  display: inline-block;
  float: left;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 10px; }

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-3px, 4px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

/*# sourceMappingURL=styles.css.map */
